{% import 'components/table.html.twig' as table %}

{% set headers = [
    {'name': 'ID', class: ''},
    {'name': '标题', class: ''},
    {'name': '更新时间', class:''},
	{'name': '状态', class: ''},
    {'name': '置顶', class:''},
	{'name': '操作', class: ''}
] %}


{% set statusMap = {
    'draft': '<span class="badge bg-success">暂存</span>',
    'published': '<span class="badge bg-warning text-dark">已发布</span>',
    'archived': '以存档'
} %}

{% set newRows = data|map(row => {
    'id': row.id,
    'title': row.title,
    'updateAt': row.updated_at,
    'status': statusMap[row.status]|default('<span class="badge bg-success">暂存</span>'),
    'isPinned': row.is_pinned == 1 ? '✅':'',
    'actions': [
        '<a href="/admin/post/' ~ row.id ~ '/edit" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i></a>',
        '<a href="/delete/' ~ row.id ~ '" class="btn btn-sm btn-outline-danger ms-1"><i class="bi bi-trash"></i></a>'
    ]|join(' ')
}) %}



{{ table.table(headers, newRows, { 'hx_get':'/admin/post','current_page': current_page, 'total_pages': total_pages }) }}