{% import 'components/table.html.twig' as table %}

{% set headers = [
    {'name': 'ID', class: 'px-4 py-2'},
    {'name': '姓名', class: 'px-4 py-2'},
	{'name': '状态', class: 'px-4 py-2'},
	{'name': '操作', class: 'px-4 py-2'}
] %}


{% set statusMap = {
    'draft': '<span class="badge bg-success">暂存</span>',
    'published': '<span class="badge bg-warning text-dark">已发布</span>',
    'archived': '以存档'
} %}

{% set newRows = data|map(row => {
    'id': row.id,
    'name': row.title,
    'isActive': statusMap[row.status]|default('暂存'),
    'actions': [
        '<a href="/admin/post/' ~ row.id ~ '/edit" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i></a>',
        '<a href="/delete/' ~ row.id ~ '" class="btn btn-sm btn-outline-danger ms-1"><i class="bi bi-trash"></i></a>'
    ]|join(' ')
}) %}



{{ table.table(headers, newRows, { 'hx_get':'/admin/post','current_page': current_page, 'total_pages': total_pages }) }}