{% import 'components/table.html.twig' as table %}

{% set headers = [
    {'name': 'ID', class: 'border w-1/4 px-4 py-2'},
    {'name': '姓名', class: 'border w-1/6 px-4 py-2'},
	{'name': '状态', class: 'border w-1/6 px-4 py-2'},
	{'name': '操作', class: 'border w-1/6 px-4 py-2'}
] %}


{% set statusMap = {
    1: '对',
    0: '错',
    2: '待定',
    3: '禁用'
} %}

{% set newRows = data|map(row => {
    'id': row.id,
    'name': row.name,
    'isActive': statusMap[row.status]|default('对'),
    'actions': [
        '<a href="/edit/' ~ row.id ~ '" class="bg-teal-300 cursor-pointer rounded p-1 mx-1 text-white"><i class="fas fa-eye"></i></a>',
        '<a href="/delete/' ~ row.id ~ '" class="bg-red-500 cursor-pointer rounded p-1 mx-1 text-white"><i class="fas fa-trash"></i></a>',
        '<a href="/view/' ~ row.id ~ '" class="bg-blue-500 cursor-pointer rounded p-1 mx-1 text-white"><i class="fas fa-info"></i></a>'
    ]|join(' ')
}) %}


{{ table.table(headers, newRows, { 'current_page': current_page, 'total_pages': total_pages }) }}