<!-- 侧边栏 -->
<div class="col-md-2 sidebar bg-white p-0">
	<div class="p-3">
		<span class="brand fw-bold ms-2" >管理系统</span>
	</div>
	<nav class="nav flex-column">
		<a class="nav-link {% if is_active('/') %}active{% endif %}" href="/admin">
			<i class="bi bi-speedometer2 me-2"></i>仪表盘
		</a>
		<a class="nav-link {% if is_active('/post') %}active{% endif %}" href="/admin/post">
			<i class="bi bi-people me-2"></i>用户管理
		</a>
		<a class="nav-link" href="products.html">
			<i class="bi bi-box me-2"></i>产品管理
		</a>
		<a class="nav-link" href="orders.html">
			<i class="bi bi-cart me-2"></i>订单管理
		</a>
		<a class="nav-link" href="settings.html">
			<i class="bi bi-gear me-2"></i>系统设置
		</a>
	</nav>
</div>