{% extends "layout/admin-layout.html.twig" %}
{% block title %}Create Post{% endblock %}

{% block head %} 
  {{ parent() }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <style>
        /* 设置 SimpleMDE 编辑器的固定高度 */
        .CodeMirror, .CodeMirror-scroll {
            min-height: 450px; /* 设置最小高度 */
           /*  max-height: 450px; 设置最大高度 */	
        }
  </style>
{% endblock %}

{% block content %}
<!-- 添加文章 -->
<div class="card">
	<div class="card-body" x-data="formHandler">
		<div class="d-flex justify-content-between align-items-center mb-4">
			<h5 class="card-title mb-0">添加文章</h5>
			<a href="/admin/post" class="btn btn-outline-secondary">
				<i class="bi bi-arrow-left"></i> 返回列表
			</a>
		</div>

		<form class="row g-3" @submit.prevent="submitForm">
			<!-- 左侧：基本信息 -->
			<div class="col-md-8">
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title mb-4">文章信息</h5>
						<div class="mb-3">
							<label class="form-label">标题 <span class="text-danger">*</span></label>
							<input id="title" x-model="formData.title"  type="text" class="form-control" required />
						</div>

						<div class="row mb-3">
							<div class="col-md-6">
								<label class="form-label">Slug<span class="text-danger">*</span></label>
								<input id="slug" x-model="formData.slug" type="text" class="form-control" placeholder="slug"  required/>
							</div>
							<div class="col-md-6">
								<label class="form-label">状态 <span class="text-danger">*</span></label>
								<select id="status" name="status" x-model="formData.status"  class="form-select" required>
									<option value="draft">draft</option>
									<option value="published">published</option>
									<option value="archived">archived</option>
								</select>
							</div>
						</div>


						<div class="mb-3">
							<label class="form-label">内容</label>
							<textarea id="markdown-editor" class="form-control"></textarea>
						</div>

						<div class="mb-3">
							<label class="form-label">标签</label>
							<div class="input-group">
								<input type="text" class="form-control" 	id="tag" />
								<button class="btn btn-outline-secondary" 	type="button" id="addTag" >
									添加标签
								</button>
							</div>
							<div class="mt-2" id="colorList">
								<span class="badge bg-primary me-1">标签1 <i class="bi bi-x"></i></span>
								<span class="badge bg-primary me-1">标签2 <i class="bi bi-x"></i></span>
								<span class="badge bg-primary me-1">标大手大脚签4 <i class="bi bi-x"></i></span>
							</div>
						</div>

						
					</div>
				</div>


				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title mb-4">SEO设置</h5>

						<div class="mb-3">
							<label class="form-label">页面标题</label>
							<input id="seo_title" x-model="formData.seo_title" type="text" placeholder="Seo Title" class="form-control" />
						</div>

						<div class="mb-3">
							<label class="form-label">Meta关键词</label>
							<input id="seo_keywords" x-model="formData.seo_keywords" placeholder="Seo Keywords" type="text" class="form-control" />
						</div>

						<div class="mb-3">
							<label class="form-label">Meta描述</label>
							<textarea id="seo_description" x-model="formData.seo_description"  placeholder="Seo Description" type="text" class="form-control" rows="3"></textarea>
						</div>


						<div class="mb-3">
							<label class="form-label">结构化数据</label>
							<textarea id="seo_schema_json" x-model="formData.seo_schema_json" name="seo_schema_json" class="form-control" rows="3"></textarea>
						</div>

						
					</div>
				</div>
			</div>

			<!-- 右侧：图片和其他设置 -->
			<div class="col-md-4">
				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title mb-4">文章图片</h5>
						<div class="mb-3">
							<label class="form-label">主图</label>
							<input id="thumbnail" x-model="formData.thumbnail" placeholder="thumbnail" @input="validateUrl" type="text" class="form-control" />
						</div>
						<div class="mb-3">
							<label class="form-label">图片预览</label>
							<div class="image-preview">
								<img :src="imagePreview" class="img-fluid rounded" alt="预览图" />
							</div>
						</div>
					</div>
				</div>

				<div class="card mb-3">
					<div class="card-body">
						<h5 class="card-title mb-4">文章设置</h5>

						<div class="mb-3">
							<label class="form-label">置顶</label>
							<div class="form-check form-switch">
								<input class="form-check-input" type="checkbox" x-model="formData.is_pinned" x-bind:checked="formData.is_pinned === 1 ? true : false" />
								<label class="form-check-label" for="is_pinned">立即置顶</label>
							</div>
						</div>

						<div class="mb-3">
							<label class="form-label">发布时间</label>
							<input id="published_at" x-model="formData.published_at" type="datetime-local" class="form-control mb-2"/>
						</div>

					</div>
				</div>

			</div>

			<!-- 底部按钮 -->
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<button type="button" class="btn btn-outline-secondary" onclick="history.back()">
								<i class="bi bi-arrow-left"></i> 返回
							</button>
							<div>
								<button type="submit" class="btn btn-primary">
									保存
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block footer %}
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script>
    var simplemde = new SimpleMDE({ element: document.getElementById("markdown-editor"), spellChecker: false });
		document.addEventListener('alpine:init', () => {
			Alpine.data('formHandler', () => ({
				imagePreview: 'https://placehold.co/600x400',
				isValidUrl: false,
				formData: {
					title: '',
					slug: '',
					thumbnail: '',
					content: '',
					seo_title: '',
					seo_description: '',
					seo_keywords: '',
					seo_schema_json: '',
					published_at: '',
					status: 'draft',
					is_pinned: 0,
				},
				
				init() {
					
				},
				validateUrl() {
					try {
						new URL(this.formData.thumbnail);
						this.isValidUrl = true;
					} catch (error) {
						this.isValidUrl = false;
					}
					if (this.isValidUrl){
						this.imagePreview = this.formData.thumbnail
					}else{
						this.imagePreview= 'https://placehold.co/600x400'
					}
				},
				submitForm() {
					this.formData.content = simplemde.value();
					this.formData.is_pinned = this.formData.is_pinned ? 1 : 0;
					console.log(this.formData);
					
					fetch('/admin/post', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify(this.formData)
					})
					.then(async (response) => {
						if (!response.ok) {
							// 尝试解析错误信息
							const errorResponse = await response.json().catch(() => null);
							const errorMsg = errorResponse?.message || `HTTP error! status: ${response.status}`;
							throw new Error(errorMsg);
						}
						return response.json();
					})
					.then((data) => {
						// 在这里处理成功逻辑，例如跳转页面或显示成功消息
						Swal.fire({
							title: "保存成功",
							icon: "success",
							draggable: true
						});
						window.location.href = '/admin/post'
					})
					.catch((error) => {
						console.error("提交失败:", error);
						// 在这里处理错误逻辑
						Swal.fire({
							icon: "error",
							title: "保存失败",
							text: `错误：${error.message}`
						});
					});
				}
			}));
    });
  </script>
{% endblock %}
