{% extends "layout/admin-layout.html.twig" %}
{% block title %}Create Post{% endblock %}

{% block head %} 
  {{ parent() }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <style>
        /* 设置 SimpleMDE 编辑器的固定高度 */
        .CodeMirror, .CodeMirror-scroll {
            min-height: 450px; /* 设置最小高度 */
            max-height: 450px; /* 设置最大高度 */	
        }
  </style>
{% endblock %}

{% block content %}
	<!--/Main-->
	<main class="bg-white-500 flex-1 p-3 overflow-hidden">
		<div class="flex flex-col">
			<!--Grid Form-->
			<div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
				<div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
					<div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
						Create Post
					</div>
					<div class="p-3" x-data="formHandler">
						<form class="w-full"  @submit.prevent="submitForm">
							<div class="flex flex-wrap -mx-3 mb-6">
								<div class="w-full px-3">
									<label for="title" class="w-fit pl-0.5 text-sm">Title</label>
    							<input id="title" x-model="formData.title" type="text" placeholder="title" name="title" autocomplete="title" class="w-full rounded-sm border border-neutral-300 bg-neutral-50 px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-700 dark:bg-neutral-900/50 dark:focus-visible:outline-white" />
								</div>
							</div>
							<div class="flex flex-wrap -mx-3 mb-6">
								<div class="w-full px-3">
									<label class="w-fit pl-0.5 text-sm" for="slug">
										Slug
									</label>
									<input id="slug" x-model="formData.slug" type="text" placeholder="slug" class="w-full rounded-sm border border-neutral-300 bg-neutral-50 px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-700 dark:bg-neutral-900/50 dark:focus-visible:outline-white">
								</div>
							</div>
							<div class="flex flex-wrap -mx-3 mb-6">
								<div class="w-full px-3">
									<label class="w-fit pl-0.5 text-sm" for="thumbnail">
										Thumbnail
									</label>
									<input id="thumbnail" x-model="formData.thumbnail" type="text" placeholder="thumbnail" class="w-full rounded-sm border border-neutral-300 bg-neutral-50 px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-700 dark:bg-neutral-900/50 dark:focus-visible:outline-white">
								</div>
							</div>
              <div class="flex flex-wrap -mx-3 mb-6">
								<div class="w-full px-3">
									<label class="w-fit pl-0.5 text-sm" for="markdown-editor">
										Content
									</label>
									<textarea id="markdown-editor"></textarea>
								</div>
							</div>
							<div class="flex flex-wrap -mx-3 mb-6">
								<div class="w-full px-3">
									<label class="w-fit pl-0.5 text-sm" for="seo_title">
										Seo Title
									</label>
									<input id="seo_title" x-model="formData.seo_title" type="text" placeholder="seo title" class="w-full rounded-sm border border-neutral-300 bg-neutral-50 px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-700 dark:bg-neutral-900/50 dark:focus-visible:outline-white">
								</div>
							</div>
							<div class="flex flex-wrap -mx-3 mb-6">
								<div class="w-full px-3">
									<label class="w-fit pl-0.5 text-sm" for="seo_description">
										Seo Description
									</label>
									<input id="seo_description" x-model="formData.seo_description" type="text" placeholder="Seo Description" class="w-full rounded-sm border border-neutral-300 bg-neutral-50 px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-700 dark:bg-neutral-900/50 dark:focus-visible:outline-white">
								</div>
							</div>
							<div class="flex flex-wrap -mx-3 mb-6">
								<div class="w-full px-3">
									<label class="w-fit pl-0.5 text-sm" for="seo_keywords">
										Seo Keywords
									</label>
									<input id="seo_keywords" x-model="formData.seo_keywords" type="text" placeholder="Seo Description" class="w-full rounded-sm border border-neutral-300 bg-neutral-50 px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-700 dark:bg-neutral-900/50 dark:focus-visible:outline-white">
								</div>
							</div>
							<div class="flex flex-wrap -mx-3 mb-6">
								<div class="w-full px-3">
									<label class="w-fit pl-0.5 text-sm" for="seo_schema_json">
										Seo Schema Json
									</label>
									<textarea id="seo_schema_json" x-model="formData.seo_schema_json" name="seo_schema_json" class="w-full rounded-sm border border-neutral-300 bg-neutral-50 px-2.5 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-700 dark:bg-neutral-900/50 dark:focus-visible:outline-white" rows="3"></textarea>
								</div>
							</div>
							<div class="flex flex-wrap -mx-3 mb-6">
								<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
									<label class="w-fit pl-0.5 text-sm" for="PublishedDate">
										PublishedDate
									</label>
									<input id="published_at" x-model="formData.published_at" type="datetime-local"  placeholder="2025-02-25 00:10:10" class="w-full rounded-sm border border-neutral-300 bg-neutral-50 px-2 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-700 dark:bg-neutral-900/50 dark:focus-visible:outline-white">
								</div>
								<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
									<div class="relative ">
											<label for="status" class="w-fit pl-0.5 text-sm">Status</label>
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="absolute pointer-events-none right-4 top-8 size-5">
												<path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
											</svg>
											<select id="status" name="status" x-model="formData.status"  class="w-full appearance-none rounded-sm border border-neutral-300 bg-neutral-50 px-4 py-2 text-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black disabled:cursor-not-allowed disabled:opacity-75 dark:border-neutral-700 dark:bg-neutral-900/50 dark:focus-visible:outline-white">
												<option value="draft">draft</option>
												<option value="published">published</option>
												<option value="archived">archived</option>
											</select>
									</div>
								</div>
							</div>
							<div class="flex flex-wrap -mx-3 mb-6">
								<div class="w-full px-3">
									<label class="w-fit pl-0.5 text-sm" for="seo_keywords">
										Categories
									</label>
									<ul class="flex flex-wrap inline-flex min-w-52 items-center justify-between rounded-radius gap-3 border border-neutral-300 bg-neutral-50 px-4 py-2 text-base font-medium text-on-surface dark:border-outline-dark dark:bg-surface-dark-alt dark:text-on-surface-dark has-checked:text-on-surface-strong dark:has-checked:text-on-surface-dark-strong has-disabled:opacity-75 has-disabled:cursor-not-allowed">
										<li class="flex items-center">
											<input type="checkbox" id="option1" class="mr-2">
											<label for="option1"> </label>
										</li>
										<li class="flex items-center">
											<input type="checkbox" id="option2" class="mr-2">
											<label for="option2">Option 2</label>
										</li>
										<li class="flex items-center">
											<input type="checkbox" id="option3" class="mr-2">
											<label for="option3">Option 3</label>
										</li>
										<li class="flex items-center">
											<input type="checkbox" id="option4" class="mr-2">
											<label for="option4">Option 4</label>
										</li>
										<li class="flex items-center">
											<input type="checkbox" id="option5" class="mr-2">
											<label for="option5">Option 5</label>
										</li>
										<li class="flex items-center">
											<input type="checkbox" id="option6" class="mr-2">
											<label for="option6">Option 6</label>
										</li>
										<li class="flex items-center">
											<input type="checkbox" id="option7" class="mr-2">
											<label for="option7">Option 7</label>
										</li>
										<li class="flex items-center">
											<input type="checkbox" id="option8" class="mr-2">
											<label for="option8">Option 8</label>
										</li>
										<li class="flex items-center">
											<input type="checkbox" id="option9" class="mr-2">
											<label for="option9">Option 9</label>
										</li>
										<li class="flex items-center">
											<input type="checkbox" id="option10" class="mr-2">
											<label for="option10">Option 10</label>
										</li>
									</ul>
									


								</div>
							</div>
							<div class="flex flex-wrap -mx-3 mb-6">
								<div class="w-full px-3 text-center">
									<button  type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
										Save
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!--/Grid Form-->
		</div>
	</main>
	<!--/Main-->
{% endblock %}

{% block footer %}
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script>
    var simplemde = new SimpleMDE({ element: document.getElementById("markdown-editor"), spellChecker: false });
		document.addEventListener('alpine:init', () => {
			Alpine.data('formHandler', () => ({
				formData: {
					title: '',
					slug: '',
					thumbnail: '',
					content: '',
					seo_title: '',
					seo_description: '',
					seo_keywords: '',
					seo_schema_json: '',
					published_at: '',
					status: '',
				},
				
				init() {
					
				},
				submitForm() {
					this.formData.content = simplemde.value();
					console.log(this.formData);
					
					fetch('/admin/post', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify(this.formData)
					})
					.then(async (response) => {
						if (!response.ok) {
							// 尝试解析错误信息
							const errorResponse = await response.json().catch(() => null);
							const errorMsg = errorResponse?.message || `HTTP error! status: ${response.status}`;
							throw new Error(errorMsg);
						}
						return response.json();
					})
					.then((data) => {
						// 在这里处理成功逻辑，例如跳转页面或显示成功消息
						Swal.fire({
							title: "保存成功",
							icon: "success",
							draggable: true
						});
					})
					.catch((error) => {
						console.error("提交失败:", error);
						// 在这里处理错误逻辑
						Swal.fire({
							icon: "error",
							title: "保存失败",
							text: `错误：${error.message}`
						});
					});
				}
			}));
    });
  </script>
{% endblock %}
