{% extends "layout/admin-layout.html.twig" %}
{% block title %}Admin Post{% endblock %}

{% block content %}
<div class="card">
	<div class="card-body">
			<div class="d-flex justify-content-between align-items-center mb-4">
					<h5 class="card-title mb-0">文章列表</h5>
					<a href="/admin/post/create" class="btn btn-primary">
							<i class="bi bi-plus-lg"></i> 添加文章
					</a>
			</div>

			<!-- 搜索和筛选 -->
			<form class="row g-3 mb-4" id="searchForm">
					<div class="col-md-3">
							<input type="text" name="title" class="form-control" placeholder="标题">
					</div>
					<div class="col-md-2">
							<select class="form-select" name="status" >
									<option value="">状态</option>
									<option value="draft">draft</option>
									<option value="published">published</option>
									<option value="archived">archived</option>
							</select>
					</div>
					<div class="col-md-2">
							<button class="btn btn-secondary" hx-get="/admin/post" hx-include="#searchForm" hx-target="#table-container">
									<i class="bi bi-search"></i> 搜索
							</button>
					</div>
			</form>

			<!-- 文章列表表格 -->
			<div id="table-container" class="row">
				{% include "admin/post/partials/table.html.twig" %} 
			</div>
	</div>
</div>
{% endblock %}
