{% extends "layout/admin-layout.html.twig" %}
{% block title %}Admin Post{% endblock %}

{% block content %}
<!--/Main-->
<main class="bg-white-500 flex-1 p-3 overflow-hidden">
	<div class="flex flex-col">
	       <div class="flex flex-col md:flex-row lg:flex-row mx-2 mb-4">
	           <a href="/admin/post/create" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
	               添加post
	           </a>
	       </div>
		<!--Search form-->
		<div class="flex flex-col md:flex-row lg:flex-row mx-2">
			<div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
				<div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
					Search Form
				</div>
				<div class="p-3">
					<form class="flex flex-col md:flex-row lg:flex-row mx-2">
						<div class="mb-2 md:mr-2 md:mb-0">
							<input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Search">
						</div>
						<div class="mb-2 md:mr-2 md:mb-0">
							<select class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
								<option>Select Course</option>
								<option>MS</option>
								<option>BS</option>
								<option>BA</option>
								<option>MBA</option>
							</select>
						</div>
						<div class="mb-2 md:mr-2 md:mb-0">
							<select class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
								<option>Select Status</option>
								<option>Paid</option>
								<option>Unpaid</option>
							</select>
						</div>
						<div class="mb-2 md:mr-2 md:mb-0">
							<select class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
								<option>Select Gender</option>
								<option>Male</option>
								<option>Female</option>
							</select>
						</div>
						<div class="mb-2 md:mr-2 md:mb-0">
							<button class="bg-teal-300 hover:bg-teal-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
								Search
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--/Search form-->
		<!--Grid Form-->
		<div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
			<div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
				<div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
					Full Table
				</div>
				<div id="table-container" class="p-3">
					{% include "admin/post/partials/table.html.twig" %} 
				</div>
			</div>
		</div>
		<!--/Grid Form-->
	</div>
</main>
<!--/Main-->
{% endblock %}
