{% extends "layout/admin-layout.html.twig" %}
{% block title %}Admin Post{% endblock %}

{% block content %}
<div class="card">
	<div class="card-body">
			<div class="d-flex justify-content-between align-items-center mb-4">
					<h5 class="card-title mb-0">文章列表</h5>
					<a href="/admin/post/create" class="btn btn-primary">
							<i class="bi bi-plus-lg"></i> 添加文章
					</a>
			</div>

			<!-- 搜索和筛选 -->
			<div class="row g-3 mb-4">
					<div class="col-md-3">
							<input type="text" class="form-control" placeholder="搜索产品名称/编号">
					</div>
					<div class="col-md-2">
							<select class="form-select">
									<option value="">产品分类</option>
									<option value="1">电子产品</option>
									<option value="2">服装</option>
									<option value="3">食品</option>
							</select>
					</div>
					<div class="col-md-2">
							<select class="form-select">
									<option value="">库存状态</option>
									<option value="in_stock">有库存</option>
									<option value="low_stock">库存不足</option>
									<option value="out_of_stock">无库存</option>
							</select>
					</div>
					<div class="col-md-2">
							<button class="btn btn-secondary">
									<i class="bi bi-search"></i> 搜索
							</button>
					</div>
			</div>

			<!-- 产品列表表格 -->
			<div id="table-container" class="row">
				{% include "admin/post/partials/table.html.twig" %} 
				
				
				
			</div>
	</div>
</div>
{% endblock %}
