<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paginated Table with htmx and Tailwind CSS</title>
    <!-- 引入 Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- 引入 htmx -->
     <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body class="bg-gray-100 p-8">
    <h1>Users</h1>
    <a href="/users/create">Create New User</a>
    
    <div class="container mx-auto">
        {% include "users/partials/tables.html.twig" %} 
    </div>
</body>
</html>